PORT=4000
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura
JWT_REFRESH_SECRET=otra_clave_para_refresh_tokens
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
# Cloudinary (Subida de videos y imágenes)
CLOUDINARY_CLOUD_NAME=moisescondori906rgb
CLOUDINARY_API_KEY=176273222427588
CLOUDINARY_API_SECRET=SRV87Lwr4YJ3AN-BBCIdAmW6qSk
